# ===============================
# OS
# ===============================
.DS_Store

# ===============================
# IDE
# ===============================
.idea/
.vscode/
*.iml

# ===============================
# Environment files
# ===============================
.env
.env.*

# ===============================
# Backend (Maven / Java)
# ===============================
backend/target/
backend/**/*.class
backend/**/generated-sources/
backend/**/generated-test-sources/
backend/**/surefire-reports/

# ===============================
# Movies Frontend (React)
# ===============================
movies-frontend/node_modules/
movies-frontend/build/

# ===============================
# Misc
# ===============================
previewConfig.json