.comp-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.comp-navbar h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff6f61;
}

.comp-navbar select {
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    transition: all 2s ease;
}

.comp-navbar select:focus {
    outline: none;
    border-color: #ff6f61;
}

.comp-navbar .comp-navbar-left,
.comp-navbar .comp-navbar-right {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.comp-navbar .right {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.comp-navbar .comp-navbar-left-item,
.comp-navbar .comp-navbar-right-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.comp-navbar h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.comp-navbar select {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    border: 2px solid #444;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.comp-navbar-left-item.search {
    width: 450px;
    background-color: #333;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid #444;
}

.comp-navbar-left-item.search input {
    width: 100%;
    height: 100%;
    padding: 3px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.comp-navbar-left-item.search input:focus {
    border-bottom: 2px solid salmon;
}

.comp-navbar select:focus {
    outline: none;
    border-color: #ff6f61;
}

@media (max-width: 768px) {
    .comp-navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .comp-navbar .comp-navbar-left,
    .comp-navbar .comp-navbar-right {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .comp-navbar .comp-navbar-left-item,
    .comp-navbar .comp-navbar-right-item {
        width: 100%;
    }

    .comp-navbar select {
        max-width: 100%;
    }
}

.comp-navbar-left-item {
    gap: 40px;
}
