.fPPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #111;
}

.fPGIf {
  border: none;
  border-radius: 10px;
  height: 420px;
}

.fp-title {
  color: #a50df6;
  text-align: center;
  margin-bottom: 20px;
}

.fpWrapperCard {
  margin: 10%;
  width: 80%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: none;
  border-radius: 20px;
  background-color: rgba(17, 17, 17, 0.75);
  box-shadow: 1px 2px 25px -2px rgba(255, 255, 255, 0.96);
}

.fpLft {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.fpRht {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.pc-form {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
  border: 1px solid #a50df6;
  border-radius: 10px;
  width: 100%;
}

.pc-form:hover {
  box-shadow: 1px 2px 25px -2px rgba(255, 255, 255, 0.96);
}

label {
  color: #fff;
}

.p-Input input,
.c-input input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #a50df6;
  border-radius: 5px;
  padding: 8px;
}

.fp-btn button[type="submit"] {
  background-color: #a50df6;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.fp-btn button[type="submit"]:hover {
  background-color: #b20710;
}

select,
.OTP {
  width: 100%;
  height: 40px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #a50df6;
  border-radius: 5px;
  padding: 8px;
}

.pc-form .inputs{
  flex-direction: row;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .fpWrapperCard {
    width: 90%;
    height: auto;
    margin: 5%;
    flex-wrap: wrap;
  }
  

  .fpLft,
  .fpRht {
    width: 60%;
    height: auto;
    padding: 10px;
    margin:0;
  }

  .fPGIf {
    height: 300px;
  }
}

@media (max-width: 968px) {
  .pc-form {
    font-size: 18px;
    padding: 20px;
  }

  .p-Input input,
  .c-input input,
  select,
  .OTP {
    height: 35px;
  }

  button[type="submit"] {
    font-size: 18px;
    padding: 8px 16px;
  }

  .fPGIf {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .fp-title {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .pc-form {
    font-size: 16px;
    padding: 15px;
    margin-bottom: 20px;
  }

  .p-Input input,
  .c-input input,
  select,
  .OTP {
    height: 30px;
  }

  button[type="submit"] {
    font-size: 16px;
    padding: 6px 12px;
  }

  .fPGIf {
    height: 200px;
  }

  .fpWrapperCard {
    margin: 5%;
    width: 100%;
  }

  .fpLft,
  .fpRht {
    padding: 10px;
  }
}
